@import '../../variable.scss';

.canvas-wrap {
  text-align: center;
  font-size: 0;
}

#myCanvas {
  display: inline-block;
  width: 750px;
  height: 750px;
  // border: $black-border;
}

page {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  // background: $main-background;

  .btn-group {
    padding: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
  }
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 75px;

  Button {
    width: 0;
    flex: 1;
    font-size: 40px;
    height: 88px;
    line-height: 80px;

    @include button(#fff);

    &:nth-child(n+2) {
      margin-left: 30px;
    }

    &[type=primary] {

      background: $button-background;
    }

    &.main-color {
      background: $main-color;
    }

    &.emm {
      background: #FDC400;
    }
  }
}
