{
  "extends": [
    "taro",
    "eslint:recommended",
    "airbnb"
  ],
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "Taro"
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".tsx"
        ]
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "react/sort-comp": "off",
    "react/react-in-jsx-scope": "off",
    "prop-types": "off",
    "react/destructuring-assignment": "off",
    "react/prop-types": "off",
    "no-console": 1,
    "no-undef": "error",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": "off",
    "jsx-quotes": [
      "error",
      "prefer-single"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "class-methods-use-this": "off",
    "comma-dangle": "off",
    "no-return-await": "off",
    "react/static-property-placement": "off",
    "import/no-unresolved": "off",
    "camelcase": "off",
    "no-unused-expressions": "off",
    "react/state-in-constructor": "off",
    "consistent-return": "off",
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "prefer-destructuring": "off",
    "import/prefer-default-export": "off"
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@",
            "./src/"
          ]
        ]
      }
    },
    "react": {
      "version": "latest"
    }
  }
}
